<table class="table table-hover table-condensed">
  <thead>
  <tr>
    <th><%= t('blocks.index.name') %></th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @blocks.each do |block| %>
    <tr class="table table-hover table-condensed">
      <td><%= block.title %></td>

      <% if block.current? %>
        <td>
          <%= link_to t('blocks.index.make_usual'), reset_as_current_block_path(block),
                      method: :put %>
        </td>
      <% else %>
        <td>
          <%= link_to t('blocks.index.make_current'), set_as_current_block_path(block),
                      method: :put %>
        </td>
      <% end %>
      <td><%= link_to t('blocks.index.edit'), edit_block_path(block) %></td>
      <td><%= link_to t('blocks.index.delete'), block, method: :delete,
                      data: { confirm: t('blocks.index.confirm') } %></td>
    </tr>
  <% end %>
  </tbody>
</table>
